<!-- Button trigger modal -->

      
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <center><h5 class="modal-title" id="exampleModalLabel">Add New Address</h5></center>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form role="form" method="post" action="{% url 'new' %}">{% csrf_token %}
            <div class="modal-body">
                
                <div class="form-group">
                    <label for="first_name">First Name:</label>
                    <input name="first_name" type="text" class="form-control" id="first_name">
                </div>
                <div class="form-group">
                    <label for="last_name">Last Name:</label>
                    <input name="last_name" type="text" class="form-control" id="last_name">
                </div>
                <div class="form-group">
                    <label for="phone">phone Number:</label>
                    <input name="phone" type="text" class="form-control" id="phone">
                </div>
                <div class="form-group">
                    <label for="address">Address:</label>
                    <input name="address" type="text" class="form-control" id="address">
                </div>
                <div class="form-group">
                    <label for="city">City:</label>
                    <input name="city" type="text" class="form-control" id="city">
                </div>
                <div class="form-group">
                    <label for="state">State:</label>
                    <input name="state" type="text" class="form-control" id="state">
                </div>
                <div class="form-group">
                    <label for="country">Country:</label>
                    <input name="country" type="text" class="form-control" id="country">
                </div>
                <div class="form-group">
                    <label for="zipcode">Zipcode:</label>
                    <input name="zipcode" type="text" class="form-control" id="zipcode">
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input name="email" type="text" class="form-control" id="email">
                </div>
                          
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
            </form>
        </div>
    </div>
    </div>