<div class="modal fade" id="delmodal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h4 class="modal-title">Remove Address</h4>
            </div>
          <form role="form" method="post" action="{% url 'delete' %}">{% csrf_token %}
            <div class="modal-body">
                 <p> Are you sure you want to remove Address?</p>
                 <input hidden name="id" id="id" value="{{ id }}"/>
            </div>
      
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button class="btn btn-danger" name='submit' type='submit' value='delete'>Remove</button>
            </div>
          </form>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->